<!DOCTYPE html>
<html>
    <head>
        <title>Редактирование поста</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <h1>Редактирование поста</h1>
        <p>Автор поста: {{ post.userNickname|escape }}</p>
        <form action="/post/edit/{{ post.id }}" method="POST">
            <div>
                <label for="title">Заголовок:</label><br>
                <input type="text" id="title" name="title" value="{{ post.title|escape }}" required>
            </div>
            <div>
                <label for="content">Превью:</label><br>
                <textarea id="content" name="content" rows="5" cols="50" required>{{ post.preview|escape }}</textarea>
            </div>
            <div>
                <label for="content">Содержание:</label><br>
                <textarea id="content" name="content" rows="5" cols="50" required>{{ post.content|escape }}</textarea>
            </div>
            <label for="category_id">Категория:</label><br>
            <select id="category_id" name="category_id">
                {% for category in categories %}
                    <option value="{{ category.id }}" {% if category.id == post.categoryId %}selected{% endif %}>
                        {{ category.name }}
                    </option>
                {% endfor %}
            </select>
            <div>
                <button type="submit" name="action" value="save">Сохранить изменения</button>
                <button type="submit" name="action" value="delete">Удалить пост</button>
                <a href="/">Лента</a>
            </div>
        </form>

    </body>
</html>