<!DOCTYPE html>
<html>
    <head>
        <title>Редактирование поста</title>
        <link rel="stylesheet" href="/style.css">
        <script>
        // Добавляем тег в список перед отправкой формы
        function addTag() {
            const tagInput = document.getElementById('new_tag');
            const selectedTagsDiv = document.getElementById('selected_tags');
            const tagName = tagInput.value.trim();

            if (tagName === '') return;

            // Создаем элемент списка
            const div = document.createElement('div');
            div.innerHTML = `
                <input type="hidden" name="tags[]" value="${tagName}">
                ${tagName} <button type="button" onclick="removeTag(this)" value="deleteTag">Удалить</button>
            `;
            selectedTagsDiv.appendChild(div);
            tagInput.value = '';
        }

        function removeTag(button) {
            button.parentElement.remove();
        }
    </script>
    </head>
    <body>
        <h1>Редактирование поста</h1>
        <p>Автор поста: {{ post.userNickname|escape }}</p>
        <form action="/post/save/{{ post.id }}" method="POST">
            <div>
                <label for="title">Заголовок:</label><br>
                <input type="text" id="title" name="title" value="{{ post.title|escape }}" required>
            </div>
            <div>
                <label for="content">Превью:</label><br>
                <textarea id="content" name="content" rows="5" cols="50" required>{{ post.preview|escape }}</textarea>
            </div>
            <div>
                <label for="content">Содержание:</label><br>
                <textarea id="content" name="content" rows="5" cols="50" required>{{ post.content|escape }}</textarea>
            </div>

            <div>
                <label for="new_tag">Добавить тег:</label><br>
                <input type="text" id="new_tag" placeholder="Введите тег">
                <button type="button" onclick="addTag()">Добавить</button>
            </div>

            <div id="selected_tags" style="margin-top: 10px;">
                {% for tag in post.tags %}
                    <div>
                        <input type="hidden" name="tags[]" value="{{ tag.name }}">
                        {{ tag.name|escape }} <button type="button" onclick="removeTag(this)">Удалить</button>
                    </div>
                {% endfor %}
            </div>

            <label for="category_id">Категория:</label><br>
            <select id="category_id" name="category_id">
                {% for category in categories %}
                    <option value="{{ category.id }}" {% if category.id == post.categoryId %}selected{% endif %}>
                        {{ category.name }}
                    </option>
                {% endfor %}
            </select>
            <br/>
            <button type="submit">Сохранить изменения</button>
        </form>
        <form action="/post/delete/{{ post.id }}" method="post">
            <button type="submit">Удалить пост</button>
        </form>
        <a href="/">Лента</a>
    </body>
</html>