{# src/app/templates/post/nonPublish/index.twig #}
{% extends "layout.twig" %}
{% block title %}Лента неопубликованных постов{% endblock %}
{% block content %}
<h1>Лента неопубликованных постов</h1>
<a href="/account">Аккаунт</a>

<div style="display: flex;">

    <a href="/">Лента</a>

    <div style="width: calc(100% - 40px); margin: 0 auto; padding: 0 20px;">

        {% for post in posts %}
            <div style="margin-bottom: 20px; border: 1px solid #ccc; padding: 10px; word-wrap: break-word;">
                <h3>{{ post.title|escape }}</h3>
                <p>{{ post.preview|nl2br }}</p>
                <p>Теги: 
                    {% for tag in post.tags %}
                        {{ tag.name|escape }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p>Дата создания поста: {{ post.createDate|date('H:i d.m.Y', 'Asia/Yekaterinburg') }}</p>
                <p>Автор: {{ post.userNickname|escape }}</p>
                <a href="/post-non-publish/{{ post.id|escape }}">Открыть пост</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}